<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Flask App</h1>
    <h2>{{ message }}</h2>
    <table>
        <th>Name</th>
        <th>Age</th>
        {% for person in names %}
            <tr>
                <td>{{ person.name }}</td><td>{{ person.age }}</td>
            </tr>
        {% endfor %}
    </table>
       
    </ul>
</body>
</html>